/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: 1px solid rgb(240, 235, 235); */
/* }  */

/* .header_left{
  display: flex;
  align-items: center;
}

.header_middle{
  display: flex;
  flex: 07;
  align-items: center;
  background-color: rgb(113, 29, 29);
  padding: 10px;
  border-radius: 5px;
}

.header_middle > input{
  border: none;
  width: 100%;
  padding: 10px;
}

.input_search_box{
  width: 700px;
}

.sidebar__compose{
  margin-top: 20px; */
/* }  */